*{
    margin: 0;
    padding: 0;
}

#container{
    position: absolute;
    left: 30%;
    width: 40vw;
    height: 40vw;
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hour{
    background-color: red;
    position: absolute;
    height: 17%;
    width: 2%;
    border-radius: 40%;
    top: 38%;
    left: 47.85%;
    transform-origin: bottom;
}

#minute{
    background-color: black;
    position: absolute;
    height: 26%;
    width: 1%;
    border-radius: 40%;
    top: 29%;
    left: 48.35%;
    transform-origin: bottom;
}

#second{
    background-color: grey;
    position: absolute;
    height: 27%;
    width: 0.7%;
    border-radius: 40%;
    top: 28%;
    left: 48.5%;
    transform-origin: bottom;
}